ShabakahSimulator - V1.0_Final/ShabakahRedir/Service References/TCServiceReference/tcWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/tcWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/tcWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PartitionState">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArmingState" nillable="true" type="tns:State" />
      <xs:element minOccurs="0" name="ArmingSubState" nillable="true" type="tns:State" />
      <xs:element minOccurs="0" name="PartitionID" type="xs:int" />
      <xs:element minOccurs="0" name="PartitionStatusSummary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubstateModifier1" nillable="true" type="tns:State" />
      <xs:element minOccurs="0" name="SubstateModifier2" nillable="true" type="tns:State" />
      <xs:element minOccurs="0" name="SubstateModifier3" nillable="true" type="tns:State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartitionState" nillable="true" type="tns:PartitionState" />
  <xs:complexType name="State">
    <xs:sequence>
      <xs:element minOccurs="0" name="StateDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="State" nillable="true" type="tns:State" />
</xs:schema>